/*INDEX*/
/*MAIN*/
.hero {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.bienvenidos {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.tarjeta {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.galeria {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}
/*FOOTER*/
.volver {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}
/*ACERCA DE*/
.acerca {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.acerca-video {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}
/*PRODUCTOS*/
.producto {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}
/*SERVICIOS*/
.carousel-inner {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.carousel-item {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}
/*CONTACTO*/
.form {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.contacto {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}

.mapa {
    @media screen and (max-widht: 1069px) {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 200px 400px 150px;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "footer footer footer"
        ;
    }

    @media screen and (min-widht:400px) {

        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 150px 300px 80px;
        grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer"
        ;
    }
}